*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
}

body{
    font-family: 'Rubik', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1200px;
}

.nav{
    height: 70px;
    
    display: flex; 
    align-items: center;
    justify-content: space-between;   
}

.nav__input{
    display: none;
}

.nav__figure{
    order: -1;

    display: grid;
    grid-template-areas: img;

    z-index: 10;

    --logo-hidden: 0;
    --logo-show: 1; 
}

.nav__input:checked + .nav__toggle{
    background-image: url('../images/icon-close.svg');
}

svg path{
    fill: #000;
}

.nav__input:checked ~ .nav__figure{
    --logo-hidden: 1;
    --logo-show: 0;
}

.nav__input:checked ~ .nav__content{
    clip-path: circle(150% at top right);

    --opacity: 1;
    --transform: translateY(0);
}

.nav__logo{
    grid-area: img;
    opacity: var(--logo-show);
}

.nav__logo--hidden{
    opacity: var(--logo-hidden);
}

.nav__toggle{
    width: 30px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/icon-hamburger.svg');

    z-index: 10;
    cursor: pointer;
}



.nav__content{
    --opacity: 0;
    --transtion: opacity .3s .7s;


    background-color: hsl(229, 31%, 21%, .8);

    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    
    position: absolute;
    inset: 0;

    

    clip-path: circle(0% at 100% 0);
    transition: clip-path .8s;

    
}

.nav__list{
    opacity: var(--opacity);
    transition: var(--transtion);

    padding: 0;
    list-style: none;
}

.nav__item{
    border-top: 2px solid var(--grayish-blue);
    padding: 16px 0;
    text-align: center;
}

.nav__link{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.nav__link--last{
    display: block;
    border: 3px solid #fff;
    padding: 1em 0;
    border-radius: 3px;
}

.nav__media{
    opacity: var(--opacity);
    transition: var(--transtion);
    margin-top: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

/* hero */

.hero{
    padding: 40px 0;
    display: grid;
    grid-template-columns:
    5% 1fr 5%;
    row-gap: 2rem;
    grid-template-rows: max-content max-content;
}

.hero::after{
    content: "";
    grid-column: 2/4;
    grid-row: 1/2;

    align-self: end;
    justify-self: end;

    width: 60%;
    aspect-ratio: 3/2;

    z-index: -1;


    border-radius: 80px 0 0 80px;

    max-width: 400px;
    background-color: var(--soft-blue);
}

.hero__figure{
    grid-column: 2/3;
    grid-row: 1/2;
}

.hero__img{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

.hero__texts{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

.hero__title{
    font-size: 2rem;
}

.hero__paragraph{
    line-height: 1.5;
    color: var(--grayish-blue);
    margin: 1.5rem 0 1rem;
}

.hero__buttons{
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-between;
    /* gap: 1rem; */
}

.hero__cta{
    font-weight: 500;
    padding: 1em ;
    background-color: var(--soft-blue);
    text-decoration: none;
    color: #fff;
    border-radius: 6px;

    box-shadow: 0 2px 4px #0000005f;
}

.hero__cta--second{
    background-color: #fff;
    color: var(--grayish-blue);
}